In [154]:
import gather_keys_oauth2 as Oauth2
import fitbit
import pandas as pd 
import datetime
import hashlib
import random
import json
from tqdm import tqdm
from datetime import datetime, timedelta

CLIENT_ID='23QSLM'
CLIENT_SECRET='8ed82541d286c938f9b8bc3f4e46da82'

In [155]:
server=Oauth2.OAuth2Server(CLIENT_ID, CLIENT_SECRET)
server.browser_authorize()
ACCESS_TOKEN=str(server.fitbit.client.session.token['access_token'])
REFRESH_TOKEN=str(server.fitbit.client.session.token['refresh_token'])
auth2_client=fitbit.Fitbit(CLIENT_ID,CLIENT_SECRET,oauth2=True,access_token=ACCESS_TOKEN,refresh_token=REFRESH_TOKEN)

[01/May/2023:13:55:01] ENGINE Listening for SIGTERM.
[01/May/2023:13:55:01] ENGINE Listening for SIGHUP.
[01/May/2023:13:55:01] ENGINE Listening for SIGUSR1.
[01/May/2023:13:55:01] ENGINE Bus STARTING
CherryPy Checker:
The Application mounted at '' has an empty config.

[01/May/2023:13:55:01] ENGINE Started monitor thread 'Autoreloader'.
[01/May/2023:13:55:01] ENGINE Serving on http://127.0.0.1:8080
[01/May/2023:13:55:01] ENGINE Bus STARTED

127.0.0.1 - - [01/May/2023:13:55:03] "GET /?code=34b0e69b98171a74cc30bdd3e91b30fdf5a82226&state=sUkU7EOpvxFrD5ndiGqFawR7REGCBr HTTP/1.1" 200 122 "" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.4 Safari/605.1.15"

[01/May/2023:13:55:04] ENGINE Bus STOPPING
[01/May/2023:13:55:04] ENGINE HTTP Server cherrypy._cpwsgi_server.CPWSGIServer(('127.0.0.1', 8080)) shut down
[01/May/2023:13:55:04] ENGINE Stopped thread 'Autoreloader'.
[01/May/2023:13:55:04] ENGINE Bus STOPPED
[01/May/2023:13:55:04] ENGINE Bus EXITING
[01/May/2023:13:55:04] ENGINE Bus EXITED
[01/May/2023:13:55:04] ENGINE Waiting for child threads to terminate...

In [156]:
def generate_id():
    random_str = str(random.getrandbits(256)).encode('utf-8')
    sha2_hash = hashlib.sha256(random_str).hexdigest()
    return sha2_hash[:32]

### Create Heart Rate Data

In [ ]:
startTime = pd.to_datetime('2023-04-01',format='%Y-%m-%d')
endTime = pd.to_datetime('2023-04-30',format='%Y-%m-%d')

allDates = pd.date_range(start=startTime, end = endTime)

documents = []
heartRateZones_df_list = []
heartRate_df_list = []

for date in allDates:

    oneDayData = auth2_client.intraday_time_series('activities/heart',base_date=date,detail_level='15min')

    heartRateZones = oneDayData['activities-heart'][0]['value']['heartRateZones']

    for zone in heartRateZones:
        heartRateZones_dict = {
            'id' : generate_id(),
            'type' : 'heart-rate-zone',
            'data' : {
                'date' : date.date().strftime("%Y-%m-%d")
            }
        }

        for key, value in zone.items():
            heartRateZones_dict['data'][key] = value

        documents.append(heartRateZones_dict)

    heartRateZones_df = pd.DataFrame(heartRateZones)
    heartRateZones_df['date'] = date.date().strftime("%Y-%m-%d")
    heartRateZones_df_list.append(heartRateZones_df)

    heartIntraday = oneDayData['activities-heart-intraday']['dataset']

    for heartrate in heartIntraday:

        # date_obj = datetime.strptime(date, '%Y-%m-%d')
        time_obj = datetime.strptime(heartrate['time'], '%H:%M:%S').time()
        new_date_obj = datetime.combine(date, time_obj) + timedelta(hours=0)

        heartRate_dict = {
            'id' : generate_id(),
            'type' : 'heart-rate',
            'data' : {
                'datetime' : datetime.strftime(new_date_obj, '%Y-%m-%d %H:%M:%S'),
                'value' : heartrate['value']
            }
        }

        documents.append(heartRate_dict)

    heartRate_df = pd.DataFrame(heartIntraday)
    if heartRate_df.empty:
        continue
    heartRate_df['date'] = date.date().strftime("%Y-%m-%d")
    heartRate_df['datetime'] = pd.to_datetime(heartRate_df['date'] + ' ' + heartRate_df['time'])
    heartRate_df_list.append(heartRate_df)

json_str = json.dumps(documents)
with open(f'documents_heart_rate.json', 'w') as f:
    f.write(json_str)

heartRateZones_df_final = pd.concat(heartRateZones_df_list, axis = 0)
heartRateZones_df_final.to_csv('heartRateZones.csv',index=False)

heartRate_df_final = pd.concat(heartRate_df_list, axis = 0)
heartRate_df_final.to_csv('heartRate.csv',index=False)

### Create Activities Data

In [175]:
startTime = pd.to_datetime('2023-04-01',format='%Y-%m-%d')
endTime = pd.to_datetime('2023-04-30',format='%Y-%m-%d')

allDates = pd.date_range(start=startTime, end = endTime)

documents = []
activities_df_list = []

for date in allDates:

    oneDayData = auth2_client.activities(date=date)

    activities = oneDayData['activities']

    for activity in activities:

        activity_dict ={
            'id' : generate_id(),
            'type' : 'activity',
            'data' : activity
        }

        activity_dict['data']['date'] = date.date().strftime("%Y-%m-%d")
        documents.append(activity_dict)

        activities_df = pd.DataFrame(activity, index=[0])
        activities_df['date'] = date.date().strftime("%Y-%m-%d")
        activities_df_list.append(activities_df)

json_str = json.dumps(documents)
with open(f'documents_activities.json', 'w') as f:
    f.write(json_str)

activities_df_final = pd.concat(activities_df_list, axis = 0)
activities_df_final.to_csv('activities.csv',index=False)

### Create Distances and Activitis Summary Data

In [176]:
startTime = pd.to_datetime('2023-04-01',format='%Y-%m-%d')
endTime = pd.to_datetime('2023-04-30',format='%Y-%m-%d')

allDates = pd.date_range(start=startTime, end = endTime)


distances_df_list = []
activities_summary_df_list = []

documents = []
for date in allDates:

    oneDayData = auth2_client.activities(date=date)

    # Get distances
    distances = oneDayData['summary']['distances']

    for distance in distances:
        distance_dict = {
            'id' : generate_id(),
            'type' : 'distance',
            'data' : distance
        }

        distance_dict['data']['date'] = date.date().strftime("%Y-%m-%d")

        documents.append(distance_dict)

    distances_df = pd.DataFrame(distances)
    distances_df['date'] = date.date().strftime("%Y-%m-%d")
    distances_df_list.append(distances_df)

    dict_for_df = {}

    for data in ['steps','floors','elevation','lightlyActiveMinutes','fairlyActiveMinutes','veryActiveMinutes']:
        data_value = oneDayData['summary'][data]
        data_dict = {
                'id' : generate_id(),
                'type' : data,
                'data' : {
                    'date' : date.date().strftime("%Y-%m-%d"),
                    'value' : data_value
                }
            }
        documents.append(data_dict)

        dict_for_df[data] = { 'value' : data_value}

    activities_summary = pd.DataFrame(dict_for_df)
    activities_summary.reset_index(drop=True, inplace=True)
    activities_summary['date'] = date.date().strftime("%Y-%m-%d")
    activities_summary_df_list.append(activities_summary)

distances_df_final = pd.concat(distances_df_list, axis = 0)
activities_summary_df_final = pd.concat(activities_summary_df_list, axis = 0)

distances_df_final.to_csv('distances.csv',index=False)
activities_summary_df_final.to_csv('activities_summary.csv',index=False)

json_str = json.dumps(documents)
with open(f'documents_distances.json', 'w') as f:
    f.write(json_str)

In [227]:
heartRate = pd.read_csv('heartRate.csv')

heartRate_max = heartRate.groupby('date').agg({'value': 'max'})
heartRate_max.reset_index(inplace=True)
heartRate_max = heartRate_max.rename(columns={'value':'Max','date':'Date'})

heartRate_min = heartRate.groupby('date').agg({'value': 'min'})
heartRate_min = heartRate_min.rename(columns={'value':'Min'})
heartRate_min.reset_index(inplace=True,drop=True)
heartRate_mean = round(heartRate.groupby('date').agg({'value': 'mean'}),1)
heartRate_mean = heartRate_mean.rename(columns={'value':'Mean'})
heartRate_mean.reset_index(inplace=True,drop=True)
heartRate_trend = pd.concat([heartRate_max,heartRate_min,heartRate_mean], axis=1)
df

          Date  Max
0   2023-04-01  112
1   2023-04-02  117
2   2023-04-03   99
3   2023-04-04  106
4   2023-04-05  105
5   2023-04-06  134
6   2023-04-10   99
7   2023-04-11   99
8   2023-04-12   94
9   2023-04-13  142
10  2023-04-14   99
11  2023-04-15   97
12  2023-04-16  140
13  2023-04-17  112
14  2023-04-18  103
15  2023-04-19   91
16  2023-04-20  105
17  2023-04-21  116
18  2023-04-22  120
19  2023-04-23  122
20  2023-04-24  105
21  2023-04-25  121
22  2023-04-26   97
23  2023-04-27  108
24  2023-04-28  106
25  2023-04-29  105

          date  Max  Min   Mean
0   2023-04-01  112   59   75.0
1   2023-04-02  117   51   71.8
2   2023-04-03   99   53   70.1
3   2023-04-04  106   50   67.6
4   2023-04-05  105   52   73.9
5   2023-04-06  134   53   71.3
6   2023-04-10   99   55   79.4
7   2023-04-11   99   53   69.6
8   2023-04-12   94   56   68.9
9   2023-04-13  142   55   72.4
10  2023-04-14   99   53   70.6
11  2023-04-15   97   55   71.4
12  2023-04-16  140   87  105.6
13  2023-04-17  112   66   78.6
14  2023-04-18  103   53   69.8
15  2023-04-19   91   52   69.1
16  2023-04-20  105   52   71.4
17  2023-04-21  116   53   79.5
18  2023-04-22  120   53   78.8
19  2023-04-23  122   54   63.8
20  2023-04-24  105   62   83.9
21  2023-04-25  121   52   75.2
22  2023-04-26   97   53   74.1
23  2023-04-27  108   54   73.2
24  2023-04-28  106   52   70.8
25  2023-04-29  105   52   69.7